@tailwind base;
@tailwind components;
@tailwind utilities;

#delivery-time {
  background-image: url('./assets/express-delivery.png');
  background-size: 25vh;
  background-color: rgba(160, 18, 155, 0.702);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}
#second-home {
  background-color: #3c006b;
}
#second-outlet,
#drop {
  background-color: #290248;
}
#bars {
  color: #ff3269;
}
